@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>

    <h2>Evolve</h2>
    <ul>
        <li>
            <a href="#sc">
            Add to source control
                - secrets in separate file
            </a>
            
        </li>
        <li>
            Document on the fly
        </li>
        <li>
            Facebook gmail logon
        </li>
        <li>
            Bower frontend package
        </li>
    </ul>


    <div>
        <h1 id="sc">Source Control</h1>
        Git is used.
        node_modules are ignored.
        packages are restored each clone
    </div>

</p>
